.app__about {
    flex: 1;
    width: 100%;
    padding: 2rem 0;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 1fr;

    grid-template-areas:
        "header header"
        "content picture";

    @media screen and (max-width: 768px) {
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "header header"
            "picture picture"
            "content content";

        padding: unset;
        row-gap: 2rem;
    }

    .head-text {

        grid-area: header;
        margin: 0 auto;
        max-width: 50rem;

        @media screen and (min-width: 2000px) {
            max-width: 70rem;
        }
    }

    .app__header-img {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;

        grid-area: picture;

        .profilePic {
            width: 70%;
            object-fit: contain;
            z-index: 1;
            opacity: .9;
        }

        .overlay_circle {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -7rem;
            z-index: 0;
            width: 95%;
            max-width: 40rem;
            opacity: 0.6;
            margin: 0 auto;
        }

        .small_circle {
            position: absolute;
            width: 30%;
            z-index: 0;
            top: 0;
            left: 5%;
            opacity: .7;
        }
    }

    .app__profiles {
        grid-area: content;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;

        padding: 0 13rem;
        padding-left: 1rem;

        @media screen and (max-width: 768px) {
            padding: unset;
        }

        .p-text {
            letter-spacing: 2px;
            line-height: 1.7;
            font-size: 1rem;

            @media screen and (max-width: 768px) {
                letter-spacing: .5px;
                line-height: 1.4;
                font-size: 1rem;
            }
        }
    }
}